<div>
  <h1>Bienvenidos a RedBull</h1>
  <div style="text-align:center">
    <img src="cid:logo" />
  </div>
  <h3>¡Hola, {{user.firstName}}!</h3>
  <p>Gracias por registrarte, desde ahora puedes comprar en RedBull,
    chatear con otros clientes y mucho más.</p>
  <br />
  <p>Saludos cordiales</p>
  <p>RedBull</p>
</div>